/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.question-group-container {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.add-other {
  opacity: .5;
}

ul.question-options li,
.question-group-container ul li  {
  list-style-type: none;
}

.reorder-bars {
  cursor: move;
  opacity: .5;
}