-@submission.survey.question_groups.each do |question_group|
  %h4=question_group.heading
  %dl
    -question_group.questions.each do |question|
      %dt.mt-1
        %strong=question.name
      %dd
        -question_submission = @submission.survey_question_responses.find_by_survey_question_id(question.id)
        -response = question_submission.try(:response)
        -if response.is_a?(Array)
          %ul
            -response.each do |x|
              %li=x
        -elsif response.is_a? Dragonfly::ActiveModelExtensions::Attachment
          =link_to "File Attachment", response.url
        -else
          =response
