-if @submission.survey.image.present?
  =image_for(@submission.survey, "100x100#", :class => "mt-1")

=semantic_form_for @submission, :url => survey_step_path(@submission.survey, @submission.current_step) do |f|
  =f.inputs do
    =f.input :survey_id, :as => :hidden
    =f.input :current_step, :as => :hidden
    %h2=@question_group.heading
    %p=simple_format(substitute_user_placeholders(@question_group.heading_text, current_user))

    =f.semantic_fields_for :survey_question_responses do |q|
      -@question = q.object.survey_question
      -if @question.survey_question_group_id == @submission.current_step
        =q.input :response, :as => @question.field_type, :label => @question.name, :collection => @question.options, :input_html => { :rows => 4 }
      -else
        .hide
          =q.input :response, :as => @question.field_type, :label => @question.name, :collection => @question.options, :input_html => { :rows => 4 }
      =q.input :survey_question_id, :as => :hidden
  =f.actions do
    =f.action :submit, :label => @submission.last_step? ? "Finish" : "Next", :wrapper_html => { :class => 'pull-right mb-1' }



-step_count = 100 / (@submission.survey.question_groups.count)
-progress = (@submission.survey.question_groups.index(@question_group)) * step_count
-if progress > 0
  .progress
    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{progress}", role: "progressbar", style: "width: #{progress}%;"}
      ="#{progress}%"
